<h1>
Human Trafficking Prevention
<h1>    <img src="../../assets/youth.jpg" alt="" class="center" width="210" height="200">

    <div class="col-md-6">
                  
                           <div class="wrapper">
                                   <form>
                                     <input type="button" value="Meet Stacy" onclick="window.location.href='http://localhost:4200/stacy'" />
                                   </form>
                                 </div>
                               
                               
                   
                   
                                 <audio controls>
                                        <audio autoplay> 
                                            <source src="../../assets/csec.mp3"  type="audio/mp3">
                                              <embed hidden="true" volume="100" src="../../assets/csec.mp3" type="audio/mp3">/
                                          </audio>
                                      <source src="../../assets/csec.mp3" type="audio/mp3">
                                      <source src="../../assets/csec.mp3" type="audio/mp3">
                                      </audio>  
              
           </div>


</h1>



    <div class="navbar navbar-fixed-top navbar-default">
        <!-- this section is for the nav bar on the right -->
        <!-- <div class="container">
          <div class="navbar-header">
              <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="glyphicon glyphicon-bar"></span>
              <span class="glyphicon glyphicon-bar"></span>
              <span class="glyphicon glyphicon-bar"></span>
            </a>
          </div> -->

           
                        <div class="col-md-8" id="sideNavBar" style="background-color:teal;">
                            <ul class="active"><a href="#">Home</a> </ul>
                                <ul>
                                    <a href="#about">About</a>
                                </ul>
                               
                        </div>    
               
            <!-- right nav bar ends here line right above this comment -->
            <!--/.navbar-collapse -->

    </div>
    
    
    <div class="container">
        
                    <div class="row">
                        
            <div class="col-md-3">
        
                <div class="sidebar-nav-fixed affix">
                    <div class="well">
                        <ul class="nav ">
                            
                           
                        </ul>
                    </div>
                    <!--/.well -->
                </div>
                <!--/sidebar-nav-fixed -->
            </div>
            <!--/span-->
            <div class="col-md-6">
             <!-- comented out text box here, will record audio for this instead of using text  -->
                    <!-- <p>Welcome to CSEC here you will learn more about human trafficking and join Stacy
                            a 14 year old freshman in foster care as she goes through her day and see what decisions she makes
                            throughout her day and learn more about how human trafficking occurs along the way..</p> -->
                    
                    
                            
<!--           
    <div id="pizza">
<p1 >
    Welcome to CSEC here you will learn more about human trafficking and join Stacy
     a 14 year old freshman in foster care as she goes through her day and see what decisions she makes
     throughout her day and learn more about how human trafficking occurs along the way.

</p1>

</div>

<div class="wrapper">
    <form>
      <input type="button" value="Meet Stacy" onclick="window.location.href='http://localhost:4200/stacy'" />
    </form>
  </div>


    <img src="../../assets/youth.jpg" alt="" class="center" width="100" height="200">



 -->




