<div>
<body>
  
  <H1> Human Trafficking and foster care</H1>
<P1>
Human trafficking is a huge problem affecting our society as a whole. In 2017, 8,759 cases<br> of human trafficking were reported to the NHTH, representing over 10,000 <br>individual victims, almost 5,000 potential traffickers, and more than 1,500 businesses involved in human trafficking. <br> This was a 13 percent increase in cases compared to 2016. Women and girls were disproportionately victimized, comprising approximately 80 percent of the identified survivors. While only 35 percent of survivors reported race/ethnicity, Latino (1,230) was the most represented, followed by Asian (979), White (699),<br> African/African-American/Black (592), and multi-ethnic/multi-racial (136).
</P1>

<P2>Here at foster INC we want to create a program that helps foster youth who become involved in that area as well as <br>
  decrease the ammount of youth who enter that underground community that is sexual and slave trafficking.

</P2> 

</body>
</div>