body


body
{background-color: teal;
height: 0pt;
;}

.container {
  display:flex;
    flex-direction: row
}

.wrapper {
    text-align: center;
    border: 20pt;
   font-size: 20t;
    padding: 15px 32px;}



P1{
    color:white}
    p1{font-size: 18pt}
H1{color:white}
h1{text-align: center;
padding: top 0pt;
padding-bottom: 800pt;
height:50pt
 ;}
#pizza{
    text-align:  left;
    width: 500px;
    display: block;
    margin:auto;
}
 .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .container
    {margin-top: -50pt;
    bottom: 50;

}
    .wrapper {
    text-align: right;
    border: 50pt;
   font-size: 45pt;
    padding: 0px 0px;
padding-left:350pt;
   
    }

    #taco{
  padding-right: 10pt;
    }
.div{align-content: center}

.navbar{
    float: right;
    background-color: teal;
    padding-bottom:0pt;
    margin-top: 80pt;
    
}

#sideNavBar{
   margin-top: -169pt;
   margin-left: -40pt;
}

    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 200px;
        background-color: #f1f1f1;
        border: 1px solid #555;
    
;

}
    
    ul a {
        display: block;
        color: #000;
        padding: 8px 0px;
        position: top;
       ;
    }
    
    ul {
        text-align: center;
        border-bottom: 1px solid #555;
        
    }
   
    
    ul a.active {
        background-color: #4CAF50;
        color: rgb(238, 15, 15);
    }
    
    ul a:hover:not(.active) {
        background-color: #555;
        color: white;
    }
