body
{background-image: url("../../assets/human.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    height: 900pt}

  


P1{color:white}
p1{font-size: 18pt}
H1{color:yellow}

P2{color:red}
p2{font-size:19}
P3{FONT-size:19}
p3{color:red}
H2{COLOR:YELLOW}
H3{COLOR:YELLOW}