body
{background-color: springgreen}

body
{background-color: teal;
height: 500pt
}

.container {
  display:flex;
    flex-direction: row
}

.wrapper {
    text-align: center;
    border: 50pt;
   font-size: 20t;
    padding: 15px 32px;}

.button {font-size: 50pt;
    position: absolute;
    top: 50%;
    background-color: red; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;}

P1{
    color:white}
p1{font-size: 18pt}
P1{  padding: 30pt;}
H1{color:white}
h1{text-align: center}
#pizza{
    text-align:  center;
    width: 500px;
    display: block;
    margin:auto;
}
 .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    
    .wrapper {
    text-align: center;
    border: 50pt;
   font-size: 45pt;
    padding: 0px 0px;

   
    }
