body
{height: 505;}


.container {
  display:flex;
    flex-direction: row
}

.wrapper {
    text-align: center;
    border: 20pt;
   font-size: 20t;
margin-right: 200pt;
   padding: 15px 32px;}



h1{
    color:white}
    p1{font-size: 18pt}

#traffickingHeader{
    text-align: center;
    padding-top: 10pt;
    padding-bottom:10px;
    height:50pt;
    color:white;
}

 .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .container
    {margin-top: -50pt;
    bottom: 50;

}
.wrapper {
    display: block;
    border: 50pt;
   font-size: 24pt;
    margin:auto;
    
}

#stacyImg{
    display:block;
    margin: auto;
}
.div{align-content: center}

    .img
    {margin-top: 800pt;
    margin-bottom: 600pt;}