<!-- <body>
<div class="container">
  <div class="card" style="width: 18rem;">
    <img class="Human services-available-victims-human-trafficking" src="../../assets/human hotline" alt="Card image cap">
    <div class="card-body">
      <h5 class="resources-available-victims"></h5>
      <p class="card-text">Resources for Human Trafficking .</p>
      <a href="https://humantraffickinghotline.org/resources/services-available-victims-human-trafficking" class="btn btn-primary">Human Trafficking Hotline</a>
    </div>
  </div>

  

    <div class="card" style="width: 18rem;">
      <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title"></h5>
        <p class="card-text">Resources for Human Trafficking in San Diego County.</p>
        <a href="http://sandiego.networkofcare.org/mh/services/subcategory.aspx?tax=YX-1500.9000" class="btn btn-primary">San Diego</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="Juvenile and delinquency prevention" src="" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">juvenile justice and delinquency prevention </h5>
        <p class="card-text"> </p>
        <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>
      </div>
    </div>

    <div class="card" style="width: 18rem;">
      <img class="Go blue-campaign" src="../../assets/goblue.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">Go Blue Campaign</h5>
        <p class="card-text">Resources for Human Trafficking in San Diego County.</p>
        <a href="https://www.dhs.gov/blue-campaign/resources-available-victims" class="btn btn-primary">San Diego</a>
      </div>

    </div>


  
</div>

  <div class="wrapper">
    <form>
      <input type="button" value="Meet Stacy" onclick="window.location.href='http://localhost:4200/stacy'" />
    </form>
  </div>
  <H1> Human Trafficking and foster care</H1>
  <P1>
    Welcome to CSEC here you will learn more about human trafficking and join Stacy
    <br> a 14 year old freshman in foster care as she goes through her days and see what decisions she makes
    <br> throughout her day and learn more about human trafficking along the way.
  </P1>
  <H2>Here you will find resources for help against human trafficking</H2>

</body> -->
<div class="container">
    <h1>
Human Trafficking Prevention
    </h1>
<P>
    Welcome to CSEC here you will learn more about human trafficking and join Stacy
     a 14 year old freshman in foster care as she goes through her days and see what decisions she makes
     throughout her day and learn more about human trafficking along the way.

</P>

<div class="wrapper">
    <form>
      <input type="button" value="Meet Stacy" onclick="window.location.href='http://localhost:4200/stacy'" />
    </form>
  </div>


</div>

