<!-- <audio autoplay> 
    <source src="../../assets/stacypool.wav"  type="audio/wav">
        <embed hidden="true" volume="100" src="../../assets/stacypool.wav" type="audio/wav">/
    </audio>
<source src="../../assets/stacypool.wav" type="audio/wav">
<source src="../../assets/stacypool.wav" type="audio/wav">

<audio autoplay> 
        <source src="../../assets/csec.mp3"  type="audio/mp3">
            <embed hidden="true" volume="100" src="../../assets/csec.mp3" type="audio/mp3">/
    </audio> -->

<audio autoplay> 
    <source src="../../assets/stacypool.wav"  type="audio/wav">
    <embed hidden="true" volume="100" src="../../assets/stacypool.wav" type="audio/wav">
</audio>
<h1> Stacy decided to ditch school and go to the pool instead...</h1>
