
<H1>Stacy decided to stay in school and she was approached by Bell from her English class.</H1>
<h2>
  Bell offered Stacy a chance to study together for their upcomming test. Stacy decided to...  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Here
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="http://localhost:4200/studytogether">Study Together</a>
        
      </div>
    </div>
</h2>
<audio autoplay> 
  <source src="../../assets/stayatschool.mp3"  type="audio/mp3">
    <embed hidden="true" volume="100" src="../../assets/stayatschool.mp3" type="audio/mp3">
</audio>
