<body>
<H1>Stacy decided to stay in school and she was approached by Amy from her English class.</H1>
<h2>
  Amy offered Stacy a chance to study together for their upcomming test. Stacy decided to...  <div class="dropdown">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Choose Here
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="http://localhost:4200/studytogether">Study Together</a>
        
      </div>
    </div>
</h2>
</body>