<body>


  <div class="container" style="width: 18rem;">
  <div class="row">

    <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">San Diego</h5>
      <p class="card-text">Resources for Human Trafficking in San Diego County.</p>
      <a href="http://sandiego.networkofcare.org/mh/services/subcategory.aspx?tax=YX-1500.9000" class="btn btn-primary">San Diego</a>
    </div>
  </div>

  <div class="col-4" style="width: 18rem;">
    <div class="row">

      <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
      <div class="col-sm-8">
        <h5 class="card-title">juvenile justice and delinquency prevention o</h5>
        <p class="card-text"> </p>
        <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-4">
          <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">juvenile justice and delinquency prevention o</h5>
            <p class="card-text"> </p>
            <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>

          </div>
          <div class="col-4">
            <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">juvenile justice and delinquency prevention </h5>
              <p class="card-text"> </p>
              <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
  </div>