<body>
  
  
  <H1> See the list of available resources below</H1>
<p>           <a class="help1" href="https://www.ojjdp.gov/programs/human-trafficking-services.html">ojjdpa>
 <br>        <a class="help2" href=" http://sandiego.networkofcare.org/mh/services/subcategory.aspx?tax=YX-1500.9000
 ">San Dieg</a>
  
 <br>
 <a class="help3" href="https://www.dhs.gov/blue-campaign/resources-available-victims">DHS</a>
<BR>
  <a class="help4" href="https://humantraffickinghotline.org/resources/services-available-victims-human-trafficking
  ">Human trafficking hotline</a>

   <div class="card" style="width: 18rem;">
      <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
      <div class="card-body">
        <h5 class="card-title">San Diego</h5>
        <p class="card-text">Resources for Human Trafficking in San Diego County.</p>
        <a href="http://sandiego.networkofcare.org/mh/services/subcategory.aspx?tax=YX-1500.9000" class="btn btn-primary">San Diego</a>
      </div>
    </div>
  
    <div class="card" style="width: 18rem;">
        <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">juvenile justice and delinquency prevention o</h5>
          <p class="card-text"> </p>
          <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>
        </div>
      </div>
      Copy
      <div class="container">
        <div class="row">
          <div class="col">
              <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">juvenile justice and delinquency prevention o</h5>
                <p class="card-text"> </p>
                <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>
             
          </div>
          <div class="col">
              <img class="Live Well sandiego" src="../../assets/livewellsd.png" alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title">juvenile justice and delinquency prevention o</h5>
                <p class="card-text"> </p>
                <a href="https://www.ojjdp.gov/programs/human-trafficking-services.html" class="btn btn-primary">San Diego</a>
              </div>
          </div>
        </div>
      
