body
{background-image: url("../../assets/duringcar.jpg");

    background-repeat: no-repeat;
    background-size: cover;
   height: 1200pt;
width: 1200pt}
H1 {color:red}
H2 {color:yellow}
H3 {color:yellow}
