<Body>
  <p1> During the car ride Stacy noticed that the female driver was not taking the usual route to school that her bus does.<br>
  In fact stacy noticed that she was in the bad<br> part of town.

  
Stacy ran out of the car but she was suddenly stopped by two other men. They grabbed her and began tying her up before putting her in the trunk of the car. 
From then on she entered the world of sex trafficking until she was freed at the age of twenty-four.  

  
      Let's retry that decision :) <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Start Over
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go to School</a>
            
            </div>
          </div>
  </p1>
</Body>