<p1> During the car ride Stacy noticed that the female driver was not taking the usual route to school that her bus does.
  In fact stacy noticed that driver had parked in the bad part of town. Stacy ran out of the car but she was suddenly stopped by two other men. They grabbed her and began tying her up before putting her in the trunk of the car. 
From there Stacy entered the world of sex trafficking until she was freed at the age of twenty-two.  
</p1>
 
<video id="duringcar"  autoplay width="420" height="340" controls>
    <source src="../../assets/getincar.mp4" type="video/mp4">
      <embed hidden="true" volume="100">
  </video>  
 

  
      
      <div class="dropdown">
          <span style="text-align:center; color:white;">Let's retry that decision :) </span>
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Retry
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go to School</a>
            
            </div>
          </div>
