
      
<div>
    <body>
    <H1> What we offer</H1>
<strong><P1>
Our approach to the issue of human trafficking is an interactive app and web site around human trafficking <br>
with a choose your own adventure style to it.
</P1> </strong>

<H2>
<sTRONG> Program benefits include a<br> $1000004 stipend for foster <br>youth who complete the program <br>
    as well as the skill sets to<br> protect them selves in <br>
 situations where trafficking is present.

</sTRONG>
</H2>
</body>
</div>      
        