<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  
  <nav class="navbar navbar-default .navbar-fixed-top">     
    <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand"RouterLink="csec" >Foster Inc</a>
            </div>
            <ul class="nav navbar-nav">
              <li><a href="/whatweoffer">What we Offer</a></li>
              <li><a href="csec/">csec</a></li>
              <li><a href="signup/">Join The fight against trafficking!</a></li>
              <li><a href="resources/">Get The Help You Need!</a></li>
            </ul>
          </div>
        </nav>
   
<body>



</body>
        <router-outlet></router-outlet>
