<H1>
  As stacy began her day she finished getting ready and walked out the door.She was a few minutes late however and unknown woman offerred ber a ride.
</H1>


<img src="../../assets/outthedoor.jpg" alt="">


<img src="../../assets/car1.jpg">


<H2>
    Stacy decides to... 
    <div class="dropdown">
        <button class="dropbtn"></button>
        <div class="dropdown-content">
          <a href="http://localhost:4200/getincar">Get In the car</a>
          <a href="http://localhost:4200/gotoschool">Go To School</a>
         
        </div>
      </div>
  </H2>