<H1>
  As stacy began her day she finished getting ready and walked out the door. She was a few minutes late however and an unknown woman offerred her a ride. Stacy did not want to be late for school but she did not know this person.
</H1>


<img src="../../assets/outthedoor.jpg" alt="">


<img src="../../assets/car1.jpg">


<H2>
    Stacy decides to... <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Here
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="http://localhost:4200/getincar">Get In the Car</a>
          <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go To  School</a>
        </div>
      </div>
  
  
    
  </H2>
  