<body>

        
    <H1>
While at the pool Stacy was approached by a strange man who asked her for directions around the corner.
As she provided the directions out of the blue a second man walked up and knocked her out. Stacy eventually woke up in a container and made to be a maid and was abused daily when she arrived at her destination.

</H1>

<H2>
 <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Retry
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go to School</a>
              
            </div>
          </div>
</H2>
</body>
