<body>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="atpool" href="http://localhost:4200/atpool">At pool</a>
        <a class="duringcar" href="http://localhost:4200/duringcar"> during car</a>
      </div>
    
 
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="getincar" href="http://localhost:4200/getincar">Getincar</a>
        <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go to school</a>
        <a class="dropdown-item" href="http://localhost:4200/ditchschool">ditchschool</a>
     
      </div>
    

<H1>
Meet Stacy </H1>
<p1> Stacy is a 14 year old girl who has been in foster care with her two other siblings who are seven and nine years old respectively for the last three years.
As the oldest sibling Stacy has taken care of her siblings while in foster care but she is still far from a typical teenage girl moving from home to home as often as she does.<br> She likes to read science fiction and is anxious to see her latest test result for Algebra. 
<br>Let's follow Stacy as she goes about her day and see what adventures await her while we learn more about human trafficking along the way.
Click on Start Game to begin your journey together with Stacy.
</p1>
 

<H3>

 <div class="wrapper"> 
    
<form>
  
    <input type="button" value="Start Game" onclick="window.location.href='http://localhost:4200/startingpoint'" />
  </form>
</div>
</H3>
    
    <img src="../../assets/youth.jpg" alt="" class="center" width="100" height="200">
   













</body>