/* body
{background-color: teal;
height:900pt;
width: 900pt;


margin-left: 0;
margin:0;
;

} */

.wrapper {
    text-align: center;
    border: 5pt;
   font-size: 8pt;
    padding: 0px 0px;

   
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    padding: 0pt}

h1    {text-align:  center;
    padding: 0pt;
    display: block;
    
    color: white}

 h2{text-align: left}


.container{
    display:block;
    margin: auto;
   height: 50pt ;
font-size: 14pt;
    display:flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }
.navbar

{
    float: left;

}
.wrapper {
    text-align: center;
    border: 50pt;
   font-size: 45pt;
    padding: 0px 0px;
    padding-top:20pt;
    }

.card {
    margin: 0 auto; /* Added */
    ; /* Added */
    margin-bottom: 10px; /* Added */
    display: center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
padding: 30pt;
height:356pt ;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: 50pt;
    width: 50%;
}

