<body>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="atpool" href="http://localhost:4200/atpool">At pool</a>
        <a class="duringcar" href="http://localhost:4200/duringcar"> during car</a>
      </div>
    
 
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="getincar" href="http://localhost:4200/getincar">Getincar</a>
        <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go to school</a>
        <a class="dropdown-item" href="http://localhost:4200/ditchschool">ditchschool</a>
     
      </div>
    

<H1>
Meet Stacy </H1>


<div class="container">
  
      <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Stacy is a 14 year old girl who has been in foster care with her two other siblings who are seven and nine years old respectively for the last three years.</p>
          </div>
        </div>

        
        <H2>
            <img src="../../assets/youth.jpg" alt="" class="right" width="200" height="300">
        
        
        </H2>






<div id="pizza">
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Join stacy as she goes about her day and see what decisions she makes as we learn about human trafficking along the way.<br> Click on get started to begin your day together with Stacy.
           </p>
           
          </div>
        </div>
        
        
      </div>
      
    </div>

  
    


    
<H3>

 <div class="wrapper"> 
    
<form>
  
    <input type="button" value="Start Game" onclick="window.location.href='http://localhost:4200/startingpoint'" />
  </form>
</div>
</H3>
  












