<div>
    <!-- <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="atpool" href="http://localhost:4200/atpool">At pool</a>
        <a class="duringcar" href="http://localhost:4200/duringcar"> during car</a>
      </div>
      
      
      
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="getincar" href="http://localhost:4200/getincar">Getincar</a>
        <a class="dropdown-item" href="http://localhost:4200/gotoschool">Go to school</a>
        <a class="dropdown-item" href="http://localhost:4200/ditchschool">ditchschool</a>
      
      </div>
       -->
      
      <h1>
        Meet Stacy </h1>
      
              
   

      <div class="container">
      
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">Stacy is a 14 year old girl who has been in foster care with her two other siblings who are seven and nine years old
              respectively for the last three years.
              <br> Stacy Enjoys Reading Science fiction and is looking forward to seeing what her latest grade in English will be.
              If she recieves an A she will be allowed to have a meal with her sbiblings.
            
          
            </p>
          </div>
        </div>
            <audio autoplay> 
                <source src="../../assets/stacy.mp3"  type="audio/mp3">
                  <embed hidden="true" volume="100" src="../../assets/stacy.mp3" type="audio/mp3">
              </audio>
         
      
        <H2>
          <img src="../../assets/youth.jpg" alt="" class="right" width="400" height="300">
      
          <div class="wrapper">
      
            <form>
      
              <input type="button" value="Start Game" onclick="window.location.href='http://localhost:4200/startingpoint'" />
            </form>
          </div>
        </H2>
      
      
      
      
      
      
      
        <div class="card" style="width: 18rem;">
          <div class="card-body">
            <p class="card-text">As the oldest sibling Stacy has taken care of her siblings while in foster care but she is still far from a typical
              teenage girl moving from home to home as often as she does. Join stacy as she goes about her day and see what decisions
              she makes as we learn about human trafficking along the way.
              <br> Click on  start game to begin your day together with Stacy.
            </p>
      
          </div>
        </div>
      
</div>
