<body>
<h1>Join The Fight Against Human Trafficking</h1>

<form action="/action_page.php" #contactForm="ngForm" (ngSubmit)="submit()">
  
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
      <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputName">"FullName"</label>
        <input type="name" class="form-control" id="exampleInputName"  placeholder="Entername" name='entername' [(ngModel)]="contact.entername"> 
        <small id="emailHelp" class="form-text text-muted">We'll never share your PII with anyone else.</small>
      </div>
    <div class="form-group">
      <label for="exampleInputPhonenumber">Phonenumber</label>
      <input type="phonenumber" class="form-control" id="exampleInputPhonenumber" placeholder="phonenumber" name='phonenumber'[(ngModel)]="contact.phonenumber">
      <small id="emailHelp" class="form-text text-muted">We'll never share your PII with anyone else.</small>
    </div>
    
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

</body>