body
{background-image: url("../../assets/care.jpg")}
H1{color:yellow;}
body
{background-image: url("../../assets/help.jpg");

    background-repeat: no-repeat;
    background-size: 100%;
    height: 600pt;
}

P1{color:red};