    
        <audio autoplay> 
            <source src="../../assets/schoolbell.wav"  type="audio/wav">
              <embed hidden="true" volume="100" src="../../assets/schoolbell.wav" type="audio/wav">/
          </audio>
       
<!-- <h1>
  Stacy decided to go to school.
</h1>

<div>
    While at school her friend Amy got bored and enticed her to try ditching school go to the pool. However Stacy wanted to stay in school in the end she decides to... 
    
</div>
<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Choose Here
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">

      
    </div>
  </div> -->


  <p1> While at school Stacy's friend Amy got bored and enticed her to try ditching school so they could hang out at the pool. However Stacy wanted to stay in school in the end she decides to...   
    </p1>
    <div class="dropdown">
              <span style="text-align:center; color:white;"> </span>
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Choose Here
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item" href="http://localhost:4200/ditchschool">Ditch School</a>
                  <a class="dropdown-item" href="http://localhost:4200/stayinschool">Stay In School</a>
                
                </div>
              </div>