<body> 

    <audio controls>
        <audio autoplay> 
            <source src="../../assets/schoolbell.wav"  type="audio/wav">
              <embed hidden="true" volume="100" src="../../assets/schoolbell.wav" type="audio/wav">/
          </audio>
      <source src="../../assets/schoolbell.wav" type="audio/wav">
      <source src="../../assets/schoolbell.wav" type="audio/wav">
      </audio>  
<H1>
  Stacy decided to go to school.
</H1>

<H2>
    While at school her friend Amy got bored and enticed her to try ditching school and going to the pool. However Stacy wanted to stay in school in the end she devices too.
</H2>
<div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Choose Here
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="http://localhost:4200/ditchschool">Ditch School</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

</body>