
<h1>
  As Stacy and Bell studied near the end of the day, Stacy finally got her Algebra results. She passed with flying colors.


  Game over, Congratulations on Finishing this demo you sucessfully completed the game and helped stacy stay clear of bad choices. On the off chance you made some bad choices you now have the knowledge to recognize dangerous situations and avoid entering the underworld of human trafficking YOU ROCK.
 
</h1>



  <div>
<video autoplay width="320" height="240" controls>
    <source src="../../assets/stayinschool.mp4" type="video/mp4">
      <embed hidden="true" volume="100">
  </video>  
</div>