<h1>
    Contact us at anticsec@gmail.com

</h1>
<video (ended)="showButton=true" id="introVideo" controls autoplay  >
    <source src="../assets/Csecintro.mp4" type="video/mp4">
    <embed hidden="true" volume="100">
</video>

<div class="wrapper" *ngIf="showButton">
    <form>
        <input type="button" value="Click Here To Start" onclick="window.location.href='http://localhost:4200/csec'"/>
    </form>
</div>

<div id="sideNavBar">
        <ul class="active"><a href="#">Home</a> </ul>
            <ul>
                <a href="https://humantraffickinghotline.org/states"target="_blank">Statistics by State</a>
            </ul> 
           
    </div>    

    